.header-container{
    background-color:black;
    display: flex;
    color:white;
    cursor:pointer;
    
}
.header-left ul{
    list-style: none;
    position: sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    height: 10vh;
    align-items: center;
    width: 50vw;
    

}
.header-right ul{
    display: flex;
    justify-content:space-between;
    list-style: none;
    align-items: center;
    height: 10vh;
    margin-left: 400px;
     width: 10vw;
    
}
